section#aboutSection {
  p,
  ul {
    max-width: 512px;
    margin: 0 auto 0.5rem;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 0.25rem;
  }

  a {
    color: inherit;
  }
}

main#about {
  place-items: center;
}
