section#aboutSection {
  p,
  ul {
    max-width: 512px;
    margin: 0 auto 0.5rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    gap: 0.25rem;
  }

  li {
    list-style: none;
  }

  a {
    color: inherit;
  }
}

main#about {
  place-items: center;
}
