@use "sass:math";
@use "../../styles/variables" as vars;

$circleCount: 8;
$animDuration: 8000;

main#home {
  place-items: center;
  overflow: hidden;

  #homeHeroAnim {
    width: 608px;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;

    .circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      aspect-ratio: 1;
      border-radius: 100%;
      padding: 0.5rem;
      color: transparent;
      opacity: 0.15;
      font-weight: 500;
      $colors: var(--home), var(--magnifi), var(--tpm), var(--cloudwall),
        var(--niro), var(--rootedCompany), var(--orion), var(--rayaLucaria);

      .reverse {
        scale: -1;
      }

      &.active {
        opacity: 1;
        color: var(--fgColor);
      }

      @for $i from 1 through $circleCount {
        &:nth-of-type(#{$i }) {
          cursor: pointer;
          $delay: $animDuration - math.div($animDuration, $circleCount) * $i;
          $spinDelay: 60 * $i + $animDuration;

          z-index: #{$circleCount - $i + 1};
          background-color: transparent;
          width: #{math.div(100, $circleCount) * $i + "%"};
          // animation-delay: #{$delay}ms, #{$spinDelay}ms;
          border: 3px solid black;
          box-shadow: inset 0 0 0px 36px nth($colors, $i),
            inset 0 0 0 39px black;

          img {
            width: 1.5em;
          }
        }

        &:nth-of-type(even) {
          animation-name: rotateCircleClockwise;
        }

        &:nth-of-type(odd) {
          animation-name: rotateCircleAntiClockwise;
        }

        @keyframes growCircle-#{$i + 1} {
          from {
            width: #{math.div(100, $circleCount) + "%"};
          }
          to {
            width: #{math.div(100, $circleCount) * $i + "%"};
          }
        }
      }

      &:first-of-type {
        place-items: center;

        .reverse {
          display: none;
        }

        img {
          width: 3.25em;
        }
      }
    }
  }

  aside {
    position: fixed;
    inset: 0;
    display: grid;
    align-items: center;

    .heroAnim {
      position: absolute;
      z-index: -1;
    }
  }

  @media screen and (max-width: vars.$mobileBreakpoint) {
    place-items: start center;

    #homeHeroAnim {
      bottom: 200px;

      .circle {
        cursor: initial;
        opacity: 1;
      }
    }

    aside {
      padding: 410px 0 76px;
      display: flex;
      justify-content: center;
      align-items: center;

      section {
        width: 245px;
        margin: 0 auto;
      }
    }
  }
}
